<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to s3 image upload example</p>
    <form  action="/upload" enctype="multipart/form-data"  method="post">
      <input  type="file" name="img_files[]" accept="image/*">
      <button type="submit">Submit</button>
  </form>
  </body>
</html>
